/* #DC88F5 */
html {
    font-family: 'Comfortaa', cursive;
    font-weight: 800; 
    scroll-behavior: smooth;

}
body {
    margin: 0px; 
   
}
/* ::selection {
  color: red;
  background: yellow;
} */
.navbar {
    
    background-color: #ffff;
    font-size: 27px;
    font-weight: 200 !important;
    border-bottom: thin solid #eff0f0;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: rgb(239, 240, 240);
    font-family: 'Comfortaa', cursive;
    
}
title{
  font-family: "titleFont";
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    opacity: 0.85;
   
  }

ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 1.5vw 5vw 1vw 16.5vw;
  }

ul a {
    /* font-family:'Montserrat:semi-bold', sans-serif ; */
    font-family: "titleFont";
    text-align: center !important;
    text-decoration: none;
    font-weight: 100 !important;
    color: black;
}

ul a:hover {
    color: black;

    transition: 0.2s;
}

video {
    width: 90%;
    height: 50%;
    margin: 0;
    display: block;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.heading {
    font-weight: bold;
    font-size: 35px;
    color: black;
}
#main {
        background-size: cover;
        padding-top: 6vw;
        padding-bottom: 2vw;
}
.grey {
    background:#202124;
    color:white;
}
footer {
    font-size: 1.8rem;
    padding: 2rem 0;
    line-height: 2rem;
    background: white;
    color: black;
    text-align: center;   
    border-bottom: thin solid #eff0f0;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: rgb(239, 240, 240);
    border-top: thin solid #eff0f0;
    border-top: thin;
    border-top-style: solid;
    border-top-color: rgb(239, 240, 240);
}

.block {
    padding: 5vw;
}
.minipad {
    padding: 2vw 2vw 2vw 0;
}
.button {
    border-radius: 100px;
}

.tex {
    height: 50%;
}

.phones {
    position: relative;
}
.phone {
    position: relative;
    max-width: 70%;
}
  .phone + .phone {
    display: none;
}


#gallery p {
    margin-top: -1.2vw;
}

#main p {

    color: black;
}


.momos {
    display: none;
}

.vertical-center {
    margin-top: 10%;
}

#mainn {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
#faceimage {
    position: relative;
    margin: 90px 20px 80px 180px;
    border: 1px transparent;
    border-radius:55%;
    box-shadow:  3px 10px 30px 08px rgba(0, 0, 0, 0.35);
   }
   #devimage{
    position: relative;
    margin: 110px 60px 80px 140px;
    
   }
   .container-1{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
   }
   .box-1{
     flex: 1; 
   }
   .box-1 p{
      padding: 50px;
   }
   .box-2{
     flex: 1;
     margin: 40px;
   }
   .cont-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
   .bol-1{
     flex: 1;
    
   }
   .bol-1 p{
      padding: 50px;
      overflow: hidden;
   }
   .bol-2{
     display: flex;
     flex: 1;
     flex-wrap: wrap;
     flex-direction: column;
   }
   .top-1{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   }
   .top-2{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   }
   .skill-c-1{
     flex: 1;
     word-wrap: break-word;
     margin: 20px;
     padding: 10px;
     background-color: #DC88F5;
     border: 1px transparent;
     box-shadow:  3px 10px 30px 08px rgba(0, 0, 0, 0.20);
     border-radius: 25px;
     color:#202124;
     
   }
   .skill-c-1 img{
     width: 40px;
   }
   .skill-c-1 h1{
     font-size: 20px;
   }
   .skill-c-1 p{
     font-size: 16px;
   }
   .skill-c-1 img{
     padding-top: 10px;
   }
   .cont-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
   .work-1{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   }
   .work-2{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   }
   .work-c-1{
    flex: 2;
    margin: 20px;
    background-color: white;
    border: 1px transparent;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  3px 10px 30px 08px rgba(223, 219, 219, 0.3);
    color:#202124;
    word-wrap: break-word;
   }
   /* .work-c-1:hover{
     transition: 990ms;
    box-shadow:  5px 10px 20px 08px rgb(255, 255, 255,1.1);
     
   }*/
   .work-c-1 p{
     padding: 10px;
     word-wrap: break-word;
    font-size: 18px;

   }
   .work-c-1 h1{
     padding: 5px;
     word-wrap: break-word;
   }
   .work-c-1 img{
     padding: -20px;
     height: auto;
     max-width: 100%;
     vertical-align: middle;
   }
   .cont-4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
   .inner{
    display: flex;
    flex: 1;
    padding: 30px;
    flex-wrap: wrap;
   }
   .inner img{
     width: 40%;
     object-fit:contain;
     margin: 30px;
     padding: 20px;
     border: 1px solid rgb(0,0,0,0.1);

   }
   #myProgress {
    margin: 0.3em;
    position: relative;
    width: 100%;
    height: 2em;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
  }
  
  .myBar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #202124;
    border-radius: 12px;
  }
  
  #label {
  
    padding-left: 1em;
    line-height: 1.7em;
    color: white;
    font-size: 0.9em;
  }
  
  
  
 
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
    .cards_item_hidden{
        width: 50%;
      }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 40%;
    }
    .cards_item_hidden {
        width: 40%;
      }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    word-wrap: break-word;
    flex: 1;
    margin: 30px;
    
  }
  .cards_item_hidden{
    display: none;
    padding: 2rem;
    margin-right: 5rem;
   
  }
  

  .card {
    background-color: white;
    border-radius: 0.60rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.4s;
  }
  .card:hover {
    transition: scale(1.5);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5);
  }
  
  .card_content {
    padding: 3rem;
    color: black;
    font-weight: 200 !important;
    
  }
  
  .card_title {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  .card img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
  
  .card_text {
    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .more{
    background:lightblue;
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
.slideshow-container {
  max-width: 600px;
  
  position:relative;

  margin: auto;
 
  align-content: center;

}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media (min-width: 550px) {
  #main img {
      display: block;
      width: 70% !important;
  }
    
}
@media (max-width: 550px) {
  .navbar{
       vertical-align: center;
      
  }
  .navbar ul{
    padding: 1.5vw 5vw 1vw 27vw;
  }
  
     #main {
     
      padding-top: 20vw;
      padding-bottom: 20vw;
  }
  #main img{
     margin-left:24%;
     width: 175vw;
     border-radius:1em ;
  }
  .colum2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
 
  .four {
      text-align: center;
  }
  .three {
      text-align: center;
  }
  .inner{
    padding: 10px;
  }
  .inner img{
    width: 80%;
    align-items: center;
    object-fit:contain;
    margin: 20px;
    padding: 5px;
    border: 1px solid rgb(0,0,0,0.1);
    

  }

  .social img{
    width: 20%;

  }
  
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
* {box-sizing: border-box;}

.mySlides {display: none;  }
.mySlides img {vertical-align: middle;}
@font-face {
  font-family: "titleFont";
  src: url("https://kathandesai.com/fonts/Careista Regular.ttf");

  
  }